<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Company</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <form @submit.prevent="submitForm" novalidate>
                        <div class="box">
                            <div class="box-header with-border">
                                <h3 class="box-title">Edit</h3>
                            </div>

                            <div class="box-body">
                                <back-buttton></back-buttton>
                            </div>

                            <bootstrap-alert />

                            <div class="box-body">
                                <div class="form-group">
                                    <label for="name">Name *</label>
                                    <input
                                            type="text"
                                            class="form-control"
                                            name="name"
                                            placeholder="Enter Name *"
                                            :value="item.name"
                                            @input="updateName"
                                    >
                                </div>
                                <div class="form-group">
                                    <label for="email">Email *</label>
                                    <input
                                            type="email"
                                            class="form-control"
                                            name="email"
                                            placeholder="Enter Email *"
                                            :value="item.email"
                                            @input="updateEmail"
                                    >
                                </div>
                                <div class="form-group">
                                    <label for="website">Website *</label>
                                    <input
                                            type="website"
                                            class="form-control"
                                            name="website"
                                            placeholder="Enter Website *"
                                            :value="item.website"
                                            @input="updateWebsite"


                                    >
                                </div>
                                <div class="form-group">
                                    <label for="logo">Logo *</label>

                                </div>
                                <div class="col-xs-3">
                                    <input type="file" name="logo"
                                           :value="item.logo"

                                           @input="updateLogo"
                                    />

                                </div>
                            </div>

                            <div class="box-footer">
                                <vue-button-spinner
                                        class="btn btn-primary btn-sm"
                                        :isLoading="loading"
                                        :disabled="loading"
                                >
                                    Save
                                </vue-button-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
    import { mapGetters, mapActions } from 'vuex'

    export default {
        data() {
            return {
                // Code...
            }
        },
        computed: {
            ...mapGetters('companySingle', ['item', 'loading', 'rolesAll']),
        },
        created() {
            this.fetchData(this.$route.params.id)
        },
        destroyed() {
            this.resetState()
        },
        watch: {
            "$route.params.id": function() {
                this.resetState()
                this.fetchData(this.$route.params.id)
            }
        },
        methods: {
            ...mapActions('companySingle', ['fetchData', 'updateData', 'resetState', 'setName', 'setEmail', 'setWebsite', 'setLogo']),
            updateName(e) {
                this.setName(e.target.value)
            },
            updateEmail(e) {
                this.setEmail(e.target.value)
            },
            updateWebsite(e) {
                this.setWebsite(e.target.value)
            },
            updateLogo(e) {
                this.setLogo(e.target.value)
            },
            submitForm() {
                this.updateData()
                    .then(() => {
                        this.$router.push({ name: 'company.index' })
                        this.$eventHub.$emit('update-success')
                    })
                    .catch((error) => {
                        console.error(error)
                    })
            }
        }
    }
</script>


<style scoped>

</style>
