<template>
    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Users</h1>
        </section>

        <section class="content">
            <div class="row">
                <div class="col-xs-12">
                    <div class="box">
                        <div class="box-header with-border">
                            <h3 class="box-title">View</h3>
                        </div>

                        <div class="box-body">
                            <back-buttton></back-buttton>
                        </div>

                        <div class="box-body">
                            <div class="row">
                                <div class="col-xs-12">
                                    <table class="table table-bordered table-striped">
                                        <tbody>
                                        <tr>
                                            <th>#</th>
                                            <td>{{ item.id }}</td>
                                        </tr>
                                        <tr>
                                            <th>Name</th>
                                            <td>{{ item.name }}</td>
                                        </tr>
                                        <tr>
                                            <th>Email</th>
                                            <td>{{ item.email }}</td>
                                        </tr>
                                        <tr>
                                            <th>Website</th>
                                            <td>
                                                {{ item.website}}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>Logo</th>
                                            <td >
                                                <img v-bind:src="item.logo" style="width:20%;height: 20%;border-radius: 50%;"/>
                                            </td>
                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</template>


<script>
    import { mapGetters, mapActions } from 'vuex'

    export default {
        data() {
            return {
                // Code...
            }
        },
        created() {
            this.fetchData(this.$route.params.id)
        },
        destroyed() {
            this.resetState()
                     },
        computed: {
            ...mapGetters('companySingle', ['item']),
            logo1: function () {
                return 'public/logos'

            }
        },
        watch: {
            "$route.params.id": function() {
                this.resetState()
                this.fetchData(this.$route.params.id)
            }
        },
        methods: {
            ...mapActions('companySingle', ['fetchData','resetState'])
        }
    }
</script>


<style scoped>

</style>
