<template>

    <section class="content-wrapper" style="min-height: 960px;">
        <section class="content-header">
            <h1>Image</h1>
            <div>
                <img src="/adminlte/img/company.jpeg">
            </div>
            <img src="/adminlte/img/company.jpeg">
        </section>
    </section>
</template>
<script>

</script>